.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
}

.left,
.right {
  margin: 10px;
}

.left input,
.right input,
.right select,
.right textarea {
  display: block;
  width: 200px;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #444;
  color: #fff;
  border: none;
  outline: none;
}

.save-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.save-button button {
  padding: 10px 20px;
  background-color: #008080;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

textarea {
  resize: none;
}
